if
(
   ASMsb::AuthorizationBean.CheckSignature(
				Request::Subject.Token,
				Request::Subject.SubjectID
									  )
)
then
(
	Role = Request::Subject.Role;
	Action = Request::Action.ActionID;
	if
	(  ASMsb::RMCNLBean.checkJobSchedule(
					Request::Resource.Instrument,
					Request::Subject.JobID
								   )
	)
	then ( if (( Action == "CtrInstr" )) then ( 
if (( Role == "analyst" )) then ( Reply::Answer.Message = "Permit" ) else ( if (( Role == "customer" )) then ( Reply::Answer.Message = "Deny" ) else ( if (( Role == "guest" )) then ( Reply::Answer.Message = "Deny" ) else ( if (( Role == "admin" )) then ( Reply::Answer.Message = "Deny" ) else ( Reply::Answer.Message = "Deny, Role is not valid" ) ) ) )
 ) else ( if (( Action == "CtrExp" )) then ( 
if (( Role == "analyst" )) then ( Reply::Answer.Message = "Permit" ) else ( if (( Role == "customer" )) then ( Reply::Answer.Message = "Deny" ) else ( if (( Role == "guest" )) then ( Reply::Answer.Message = "Deny" ) else ( if (( Role == "admin" )) then ( Reply::Answer.Message = "Permit" ) else ( Reply::Answer.Message = "Deny, Role is not valid" ) ) ) )
 ) else ( if (( Action == "ViewExp" )) then ( 
if (( Role == "analyst" )) then ( Reply::Answer.Message = "Permit" ) else ( if (( Role == "customer" )) then ( Reply::Answer.Message = "Permit" ) else ( if (( Role == "guest" )) then ( Reply::Answer.Message = "Permit" ) else ( if (( Role == "admin" )) then ( Reply::Answer.Message = "Deny" ) else ( Reply::Answer.Message = "Deny, Role is not valid" ) ) ) )
 ) else ( if (( Action == "ViewArch" )) then ( 
if (( Role == "analyst" )) then ( Reply::Answer.Message = "Permit" ) else ( if (( Role == "customer" )) then ( Reply::Answer.Message = "Permit" ) else ( if (( Role == "guest" )) then ( Reply::Answer.Message = "Deny" ) else ( if (( Role == "admin" )) then ( Reply::Answer.Message = "Permit" ) else ( Reply::Answer.Message = "Deny, Role is not valid" ) ) ) )
 ) else ( if (( Action == "AdminTsk" )) then ( 
if (( Role == "analyst" )) then ( Reply::Answer.Message = "Deny" ) else ( if (( Role == "customer" )) then ( Reply::Answer.Message = "Deny" ) else ( if (( Role == "guest" )) then ( Reply::Answer.Message = "Deny" ) else ( if (( Role == "admin" )) then ( Reply::Answer.Message = "Permit" ) else ( Reply::Answer.Message = "Deny, Role is not valid" ) ) ) )
 ) else ( if (( Action == "StartSession" )) then ( 
if (( Role == "analyst" )) then ( Reply::Answer.Message = "Permit" ) else ( if (( Role == "customer" )) then ( Reply::Answer.Message = "Deny" ) else ( if (( Role == "guest" )) then ( Reply::Answer.Message = "Deny" ) else ( if (( Role == "admin" )) then ( Reply::Answer.Message = "Deny" ) else ( Reply::Answer.Message = "Deny, Role is not valid" ) ) ) )
 ) else ( if (( Action == "StopSession" )) then ( 
if (( Role == "analyst" )) then ( Reply::Answer.Message = "Permit" ) else ( if (( Role == "customer" )) then ( Reply::Answer.Message = "Deny" ) else ( if (( Role == "guest" )) then ( Reply::Answer.Message = "Deny" ) else ( if (( Role == "admin" )) then ( Reply::Answer.Message = "Permit" ) else ( Reply::Answer.Message = "Deny, Role is not valid" ) ) ) )
 ) else ( if (( Action == "JoinSession" )) then ( 
if (( Role == "analyst" )) then ( Reply::Answer.Message = "Permit" ) else ( if (( Role == "customer" )) then ( Reply::Answer.Message = "Permit" ) else ( if (( Role == "guest" )) then ( Reply::Answer.Message = "Permit" ) else ( if (( Role == "admin" )) then ( Reply::Answer.Message = "Deny" ) else ( Reply::Answer.Message = "Deny, Role is not valid" ) ) ) )
 ) else ( Reply::Answer.Message = "Deny, Action is not valid" ) ) ) ) ) ) ) ) )
	else (Reply::Answer.Message = "Deny, JobID not active")
)
else ( Reply::Answer.Message = "Deny, User not Authenticated" )
